body{
font-family: 'Helvetica Neue';
font-size: 14px;
margin: 2vh 2vw
}


.gradient-title {
    font-weight: 700;
    font-size: 8rem;
    /*background: linear-gradient(to right, #ff8a00 0%, #da1b60 100%);*/
    background: linear-gradient(147deg, rgba(249,15,216,1) 0%, rgba(245,67,119,1) 26%, rgba(252,28,28,1) 50%, rgba(255,195,13,1) 75%, rgba(114,251,89,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  }

  .banner{
  }

.title-description{
    font-weight: 600;
    font-size: 21px;
}

.rect{
background: #ffffff;
box-shadow:  20px 20px 60px #d9d9d9, 
             -20px -20px 60px #ffffff;
}
