.theme-light {
    --color-primary: #0060df;
    --color-secondary: #fbfbfe;
    --color-accent: #fd6f53;
    --font-color: #000000;
    --bg-color: #ffffff;
    --inverted-toggle:0;
  }
  .theme-dark {
    --color-primary: #17ed90;
    --color-secondary: #243133;
    --color-accent: #12cdea;
    --font-color: #ffffff;
    --bg-color: #000000;
    --inverted-toggle:1;
  }
@font-face {
  font-family: mono;
  src: url(/assets/input_mono_regular.ttf);
}
@font-face {
  font-family: mono-alt;
  src: url(/assets/input_mono_regular.ttf);
}
@font-face {
  font-family: sans-serif;
  src: url(/assets/sans_serif.ttf);
}
@font-face {
  font-family: serif;
  src: url(/assets/serif.ttf);
}

a{
    width: fit-content;
}

.darkmode{
    background-color: var(--bg-color);
    color: var(--font-color);

}
.dark_link:hover{
    background-color: var(--font-color);
    color: var(--bg-color);
}
.dark-toggle{
    filter: invert(var(--inverted-toggle));
    align-self: start;
    height: inherit
}
.invert-toggle{
    filter: invert(1);

}
.dark-img {
    opacity: .75;
    transition: opacity .5s ease-in-out
}
.dark-img:hover{
    opacity: 1;
}
.theme-status-container{
    text-align: center;
    height: 2.5vh;
}
.theme-status-text{
    margin: unset;
}


html{
    font-family: Helvetica Neue;
    background: black;
    font-size: 100%;
}
body {
    background: var(--bg-color);
    color: var(--font-color);
    margin: unset;
    /*font-size: 3.5vw;*/
}
code{
  border: 1px solid var(--font-color);
  color: var(--font-color);
  display: block;
  padding: 2vh;
  width: fit-content;
}
.main{
    padding: 2em;
}
.wrapper{
    padding: 2em;
}
.logo{
    height: 10vh;
    filter: invert(1);
}
h1, h2 {
    font-family: Helvetica Neue;
}
h1 {
    font-size: 1rem;
}
h2 {
    font-size: 1em;
    font-weight: 500;
}
h3 {
    font-family: mono;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 5vh;
    background: rgba(0,0,0,0.05);
    padding: .5em;
}
p{
    font-size: 1rem;
    letter-spacing: .05em;
    line-height: 1.5;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    text-rendering: optimizelegibility !important;
}
.mono-text{
    font-size: 1rem;
    letter-spacing: .05em;
    line-height: 1.5;
    font-family: mono;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    text-rendering: optimizelegibility !important;

}
.title{
    font-weight: 300;
    font-family: mono;
    font-size: 1rem;
    max-width: 50vw;
}
.titleWrapper{
    margin-bottom: 10vh;
    display: flex;
    justify-content: space-between;
}
.subtitle{
    margin-top: unset;
    margin-bottom: 5vh;
    font-weight: 300;
}
.listTitle{
    font-size: 1.5rem;
}
.caption{
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    font-family: mono;
}
a {
    color: unset;
    text-decoration: underline;
    font-weight: bold;
}
ol {
    line-height: 2;
    font-family: mono;
    font-weight: 400;
    font-size: 1rem;
    list-style-type: decimal-leading-zero;
}

.nodel {
    list-style: none;
    padding: unset;
    list-style-position: inside;
}
.TOC{
    padding: unset;
    list-style-position: inside;
}
.TOC > a {
    width: fit-content;
}
.back {
    font-family: mono;
}
.back:hover{
    color: var(--bg-color);
    background-color: var(--font-color);
}

.link{
    width: fit-content;
    font-size: .75em;
}
.float-right-c{
    float: right;
    text-align: right;
}
.float-right{
    text-align: right;
    text-decoration: underline;
    margin-left:auto;
}
.link:hover{
    background-color: var(--font-color);
    color: var(--bg-color);
    /*filter: invert(1);*/
}
.minispacer{
    height: 2.5vh;
}

.regspacer{
    height: 5vh;
    width: 100%;
}

.vspacer{
    height: 35vh;    
}
.smvspacer{
    height: 15vh;
}
.fullImage{
    border-radius: 6px;
    margin-left: 10%;
    max-width: 80%;
}
.bleedImage{
    width: 100%;
}
.video{
    border-radius: 6px;
    margin-left: 10%;
    max-width: 80%;
}
footer{
    height: 25vh;
    padding: 10vw;
    font-family: mono;
    font-size: 1rem;
    margin-top: 15vh;
    background-color: var(--bg-color)
}

.form-i{
    box-shadow: 5px 5px 11px #777777, -5px -5px 11px #bebebe;
    padding: 2vh;

}
.form-b{
    border: unset;
    padding: 2vh;
    background: black;
    color: var(--font-color);
    font-weight: bold;
    font-family: helvetica neue;

}
.t-center{
    text-align: center;
}

blockquote{
    font-size: 1rem;
    font-weight: 600;
}
.showcase-container{
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
    justify-content: center;
}
.showcase-wrapper{
    display: flex;
    flex-flow: row wrap;
}
.showcase-img{
    width: 100%;
    height: 100%;
}

.showcase-img:hover{
    filter: brightness(0.8);
}

.showcase-img-title{
    font-size: 1vw;
    margin-bottom: unset;
}

.showcase-img-description{
    margin-top: unset;
}

@media only screen and (min-width: 992px) {
    body{
    }
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3{
        font-size: 1rem;
    }
    p{
        font-size: 1rem;
    }
    .mono-text{
        font-size: 1rem;
    }
    .title{
        font-size: 1rem;
        font-family: mono;
        max-width: 50vw;
    }
    .titleWrapper{
        margin-bottom: 10vh; 
    }
    .subtitle{
        margin-bottom: 10vh;
    }
    .listTitle{
        font-size: 1rem;
    }
    .wrapper{
       padding:5vw;
    }
    .main{
        max-width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    ol {
        font-size: 1rem;
    }
    .nodel{
    max-width: 20vw;
    }
    .back {
        font-size: 1rem;
    }
    .TOC{
        max-width: 60%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 12.5vh;
    }
    .vspacer{
        height: 15vh;    
    }
    footer{
        font-size: 1rem;
        height: 10vh;
        padding: 5vw;
    }
    .fullImage{
        margin-left: 20%;
        max-width: 60%;
    }
    .video{
        margin-left: 20%;
        max-width: 60%;
    }
    .caption{    
        font-size: 1rem;
    }

    .theme-status-container{
        height: 4vh;      
    }

blockquote{
    font-size: 2.5rem;
    font-weight: 600;
}
}
